@charset "UTF-8";

@font-face {
  font-family: 'Coda';
  font-display: auto;
  src: local('Coda'),
    url('/font/Coda.woff2') format('woff2'),
    url('/font/Coda.woff') format('woff'),
    url('/font/Coda.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-family: $FONT_FAMILY;
}

body {
  background: $COLOR_CHARCOAL;
  text-align: center;
}

main {
  background: $COLOR_WHITE;
}

p {
  margin: 16px 0 28px;
}

a {
  color: inherit;
}

strong {
  color: $COLOR_RED;
}
